body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {

}
.backround {
    background-image: url(./img/blue.png);
    display: inline-block;
    width: 100%;
    height: 97vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    filter: blur(5px);
    
}
header {
    display: inline-block;
    width: 1500px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header > p {
    color: #244674;
    float: left;
    font-size: 30px;
}

nav {
    float: right;
    margin-top: 15px;
}

a {
    color: #244674;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
}

a:last-of-type {
    background-color: #244674;
    color: white;
    padding-top: 0;
    padding-bottom: 2px;
    border-radius: 20px;
    text-align: center;
    
}

main {
    display: inline-block;
    width: 800px;
    position: relative;
}

.right {
    float: left;
    position: absolute;
    bottom: 100%;
    width: 100%;
    transform: translate(20%, -50%);
}

h1 {
    font-size: 200px;
    color: #244674;
    position: absolute;
    bottom: 600%;
    transform: translate(0, -150%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right > p:first-of-type {
    color: #151C39;
    text-transform: capitalize;
    font-size: 80px;
    position: absolute;
    bottom: 600%;
    transform: translate(-10%, -320%);
}

.right > p:last-of-type {
    width: 100%;
    color: #C8DCF4;
    font-size: 30px;
    text-align: center;
    position: absolute;
    bottom: 50%;
    transform: translate(-20%, -250%);
}

button {
    background-color: #244674;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 20px;
    width: 20%;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    transform: translate(80%, -300%);


}

.left.img {
    position: absolute;
    width: 0;
    transform: translate(-50%, -95%);
    left: 118%;
    bottom: 100%;
}
.left.img-bottom {
    width: 0;
    position: absolute;
    bottom: 100%;
    left: 114%;
}
